/*
    CONTEXT-MENU.CSS

    - Last updated: 06.06.16
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$app-menu-toolbar-width: 60px !default;
$dark-bg-color: $gray-dark;

//-----------------------------------------------------------------
// Menu Structure
//-----------------------------------------------------------------

.lv-context-menu {
	position: fixed;
	top: 0;
	width: $app-menu-width-small;
	height: 100%;
	background: $dark-bg-color;
	z-index: 10;

	@include media-breakpoint-up(md) {
	    width: $app-menu-width-medium;
	    // left: -$app-menu-width-medium; // starting anim
	}
}

//-----------------------------------------------------------------
// Context Menu Scroller
//-----------------------------------------------------------------

.lv-context-menu-scroller {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0; // failsafe
	width: 100%;
	height: 100%; // failsafe
	overflow: hidden;

	&:hover {
		@include media-breakpoint-up(md) {
		    overflow: auto;
		}
	}
}

//-----------------------------------------------------------------
// Header
//-----------------------------------------------------------------

.lv-context-menu-header {
	background: darken($dark-bg-color, 4%);
	text-align: center;
	padding: rem-calc(0 20); // failsafe
	overflow: hidden; // failsafe
	height: $lv-topbar-height-medium + $lv-stage-top-offset;

	@include media-breakpoint-up(md) {
	    margin-left: $app-menu-toolbar-width;
	}

	h3 {
		margin: 0; // failsafe
		padding: 0; // failsafe
		font-family: $font-family-serif;
		font-size: rem-calc(20);
		font-weight: normal;
		line-height: $lv-topbar-height-medium + $lv-stage-top-offset;
		color: $brand-primary;
	}
}

//-----------------------------------------------------------------
// TOOLBAR
//-----------------------------------------------------------------

.lv-context-menu-toolbar {
	@include transition('color');
	position: fixed;
	left: 0;
	bottom: 0; // failsafe
	height: $app-menu-toolbar-width;
	width: 100%;
	background: #151519;
	z-index: 999999;

	@include media-breakpoint-up(md) {
		top: 0;
    	width: $app-menu-toolbar-width;
        height: 100%;
        // float: left;
	}

	a {
		display: block;
		font-size: rem-calc(22);
		text-align: center;
		padding: rem-calc(5 0);
		color: lighten($dark-bg-color, 15%);

		&:hover {
			color: lighten($dark-bg-color, 30%);
		}
	}

	.active a {

		color: white;
	}

	//=========================================
	// Toolbar User Logo
	//=========================================

	.lv-context-menu-user-logo {
	    padding: rem-calc(14 0);

	     .gravitar {
	     	border-radius: 100%;
	     }
	}

	//=========================================
	// User Tools
	//=========================================

	.lv-context-menu-user-tools {
		position: absolute;
		width: 100%;
		left: 0;
		bottom: rem-calc(15);
	}
}

//-----------------------------------------------------------------
// Body
//-----------------------------------------------------------------

.lv-context-menu-body {
	@include media-breakpoint-up(md) {
	    margin-left: $app-menu-toolbar-width; // locked
	    padding: rem-calc(20 0);
	}

	//=========================================
	// Anchors
	//=========================================

	a {
		display: block;
		padding: rem-calc(15 20);
		border-bottom: 1px solid lighten($dark-bg-color, 5%);
		margin: rem-calc(0 15);
		line-height: 1.4;
		color: white;

		.lv-context-menu-digit {
			font-family: 'Oswald', sans-serif;
			color: lighten($dark-bg-color, 15%);
			font-size: rem-calc(12);
			padding-right: 20px;
		}

		@include media-breakpoint-up(md) {
	    	padding: rem-calc(10 15);
	        border: 0;
		}
	}

	.active a {
		background: lighten($dark-bg-color, 8%);
		border-radius: $border-radius-sm;

		.lv-context-menu-digit {
			color: lighten($dark-bg-color, 35%);
		}
	}
}

//-----------------------------------------------------------------
// App Menu Lists
//-----------------------------------------------------------------

.lv-context-menu ul {
	list-style: none;
	margin: 0; // failsafe
	padding: 0; // failsafe
}

//-----------------------------------------------------------------
// Motion
//-----------------------------------------------------------------

// .lv-context-menu-header h3,
// .lv-context-menu-body {
//     transition: transform 400ms ease-out;
//     transform: translate(0, -5px);
//     // transform: translateZ(0);
// }

// .menu-is-open .lv-context-menu-header h3,
// .menu-is-open .lv-context-menu-body {
//     transform: translate(0, 0);
// }

.lv-context-menu-toolbar {
    transition: transform 300ms ease-out;
    transform: translate(50px);
}

.lv-context-menu {
    transition: transform 300ms ease-out;
    transform: translate(-50px);
}

.menu-is-open .lv-context-menu-toolbar,
.menu-is-open .lv-context-menu {
    transform: translate(0, 0);
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================