/*
    STAGE.CSS

    - Last updated: 22.04.16
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// DO NOT REMOVE
//-----------------------------------------------------------------

html {
    // background: red; //#27272F;
    overflow-x: hidden; // locked
}

html, body {
    height: 100%; // removes all flickers at bottom - eg body color
}

button, .btn {
    @extend .lv-unselectable;
}

//-----------------------------------------------------------------
// Stage Loader
//-----------------------------------------------------------------

.lv-stage {
    position: relative;
    min-height: 100vh; // fixes scrollbars
    padding-top: $lv-topbar-height-small; // see below
    background: $gray-light;
    overflow: hidden;
    z-index: 50;

    // Keep padding unaffected by menu state
    @include media-breakpoint-up(md) {
        padding-top: $lv-topbar-height-medium;
    }
}

//-----------------------------------------------------------------
// Is Open
//-----------------------------------------------------------------

.menu-is-open .lv-stage {
    @include media-breakpoint-up(md) {
        width: calc(100% - #{$app-menu-width-medium}); // animation too heavy
        min-height: calc(100vh - #{$lv-stage-top-offset}); // fixes scrollbars
    }
}

//-----------------------------------------------------------------
// iframe Loader
//-----------------------------------------------------------------

.lv-iframe-loader {
    position: absolute;
    top: $lv-topbar-height-medium;
    bottom: 0;
    width: 100%;
    height: calc(100vh - #{$lv-topbar-height-medium} - #{$lv-stage-top-offset});
    border: 0;
    // height: calc(100vh - #{$lv-stage-top-offset});
}

// .lv-iframe-wrapper {
//     position: fixed;
//     top: $lv-topbar-height-small;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     // height: 100vh;
//     height: calc(100vh - #{lv-stage-top-offset});
//     -webkit-overflow-scrolling: touch;
//     overflow-y: scroll;

//     @include media-breakpoint-up(md) {
//         top: $lv-topbar-height-medium;
//     }
// }

// .lv-iframe-loader {
//     height: 100%;
//     width: 100%;
//     border: 0;
//     overflow: hidden !important;
// }

//-----------------------------------------------------------------
// Motion
//-----------------------------------------------------------------

.lv-topbar,
.lv-stage {
    transition: transform 300ms ease, min-height 300ms ease, width 300ms ease;
    // transform: translateZ(0);
}

.menu-is-open .lv-topbar,
.menu-is-open .lv-stage {
    transform: translate($app-menu-width-medium, $lv-stage-top-offset);
    // transform: translate($app-menu-width-medium);
    // -moz-transform: translate($app-menu-width-medium, 8px) rotate(0.01deg);
}

//-----------------------------------------------------------------
// Stage Loader
//-----------------------------------------------------------------



//=========================================
//
//=========================================