{% assign settings = site.data.settings %}

<!-- Footer Body -->
<section class="global-footer-body">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

            </div>
        </div>
    </div>
</section>

<!-- Footer Bottom -->
<section class="global-footer-bottom">
    <div class="container">

        <a href="/docs/">Docs</a>
        <a class="author-logo pull-sm-right" target="_blank" href="{{ settings.author.url }}">
            <span class="text">{{ settings.author.description }}</span>
            <img width="20" src="{{ settings.author.logo }}" alt="Created by {{ settings.author.title }}">
        </a>

    </div>
</section>