/*
    HERO.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Hero
//-----------------------------------------------------------------

.lv-hero .lv-hero-item-caption {
	background: rgba(black, 0.3);
	color: white;
	padding: rem-calc(20 40 20 20);

	i {
		position: absolute;
		bottom: 10px;
		right: 15px;
		font-size: rem-calc(44);
	}
}

//=========================================
//
//=========================================